{% extends 'imageGram/base.html' %}
{% block content %}
<div class="container">
  <div class="heading">
    <h1>Projects</h1>
  </div>
  <div class="row sec">
    {% for picture in images %}
    <div class="col-lg-4">
      <div class="post justify-content-center">
        <div class="info">
          <div class="user">
            <div class="profile-pic"><img src="img/cover 1.png" alt=""></div>
            <h4 class="text-center">{{picture.website}}</h4>
            <img data-bs-toggle="modal" data-bs-target="#mymodal{{picture.id}}" style="height:17rem; width:25rem; border-radius:2.5%;" src="{{picture.image.url }}" class="post-image" alt="">
          </div>
          <img class="options" alt="">
        </div>

      </div>

      <!-- Modal -->
      <div class="modal fade" id="mymodal{{picture.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">{{picture.website}}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-8">
                  <img style="height:30rem; width:47rem;" src="{{ picture.image.url }}" alt="">
                  <small>
                    <p class="text-muted text-end">date posted {{ picture.created }}</p>
                  </small>
                </div>
                <div class="col-4">
                  <h3 class="text-center">Ratings</h3>
                </div>
              </div>

            </div>
            <div class="modal-footer justify-content-center">
              <small style="font-size:1rem;">{{ picture.description }}</small> <br>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% endfor %}
  </div>

</div>

{% endblock %}
