{% extends "imageGram/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<form style="max-width: 600px; margin: 0 auto; margin-top: 50px" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {{uform|crispy}}
  <!-- <label class="mt-3 mb-3" for="formFileMultiple" class="form-label">Upload Project</label>
  <div class="form-floating">
    <textarea
      class="form-control"
      placeholder="Leave a comment here"
      id="floatingTextarea2"
      style="height: 150px"
      name="caption"
      required
    ></textarea>
    <label for="floatingTextarea2">Project Name</label>
  </div>
  <div class="mt-3 mb-3">
    <input
      class="form-control"
      type="file"
      id="formFileMultiple"
      name="image"
      required
      multiple
    />
  </div>

  <div class="form-floating">
    <textarea
      class="form-control"
      placeholder="Leave a comment here"
      id="floatingTextarea2"
      style="height: 150px"
      name="caption"
      required
    ></textarea>
    <label for="floatingTextarea2">Project description</label>
  </div> -->

  <button type="submit" class="btn btn-outline-secondary mt-3">Post</button>
  <a href="{{request.META.HTTP_REFERER}}" class="btn btn-danger mt-3">Cancel</a>
</form>
{% endblock %}
