{% extends 'imageGram/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div style="max-width: 600px; margin: 0 auto; margin-top: 100px" class="content-section">
  <div class="media text-align-center">
    <div class="row">
      <div class="col-6">
        <img style="height:150px; width:150px; margin-left:50px;" class="rounded-circle account-img" src="{{ user.profile.image.url }}">
      </div>
      <div class="col-6">
        <h2 style="padding-top:40px" class="account-heading">{{ user.username }}</h2>
        <p class="text-secondary">{{ user.email }}</p>
      </div>
    </div>
    </div>
    <div class="pt-5">
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">Profile Info</legend>
          {{ u_form|crispy }}
          {{ p_form|crispy }}
        </fieldset>
        <div class="form-group">
          <button class="btn btn-outline-info" type="submit">Update</button>
        </div>
      </form>
    </div>
  </div>



{% endblock content %}
